* {
  box-sizing: border-box;
}


body {
  /*border: 3px solid black;*/
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  background: hsl(47, 88%, 63%);
}

.container {
  /*border: 3px solid red;*/
  /*min-height: 100hv;*/
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card {
  /*border: 5px solid blue;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  width: 384px;
  height: auto;
  /*height: 522px; */
  /*padding: 24px 24px;*/
  padding: 24px;
  border-radius: 20px;
  /*box-shadow: 25px 25px 25px rgba(0, 0, 0, 1.0);*/
  box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
}

/*
.card > * {
  margin-bottom: 12px;
}
*/

/*Logo Image*/
#image-one {
  /*display: block;*/
  /*width: 336px;
  height: 200px;*/
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 10px;
}

button {
  background: hsl(47, 88%, 63%);
  border: 2px solid hsl(47, 88%, 63%);
  /*width: 82px;
  height: 29px;*/
  border-radius: 4px;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  /*margin-top: 15px;*/
  margin-top: 11px;
  text-align: center;
}

button:hover {
  background-color: hsl(47, 88%, 55%);
  cursor: pointer;
}


.published-date {
  font-size: 14px;
}

/* H2 Heading */
/*
.card h2 {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin-bottom: 12px;
}
*/

.card h2>a {
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin-bottom: 12px;
  text-decoration: none;
}

/*
.card  h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;  
}
*/

.card h2>a:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.card p {
  font-weight: 500;
  color: hsl(0, 0%, 7%);
  margin-bottom: 12px;
}

#paragraph-one {
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}

/* I decided to just wrap up the text div with 'div' alone, rather than targeting it as a class
.txt-container{
    display: flex;
    flex-direction: column;
    text-align: left;
  } 
*/

/*Avatar Image*/
.image-two {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: left;
  gap: 12px;
  margin-top: 1px;
  /*margin-bottom: 1px;*/
}

.image-two img {
  width: 32px;
  height: 32px;
}

.image-two p {
  font-weight: 800;
}

.tag:focus-visible,
button:focus-visible {
  outline: 2px solid hsl(0, 0%, 7%);
}

/*
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
*/