
* {
  box-sizing: border-box;
}


body{
    /*border: 3px solid black;*/
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
}


.container{
    /*border: 3px solid red;*/
    display: flex;
    /*flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    min-width: 320px;
}

/* Card */
.card{
    /*border: 3px solid blue;*/
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: hsl(0, 0%, 100%);
    /*width: 420px;*/
    width: 320px;
    /*height: 499px;*/
    height: auto; 
    /*margin-top: 16px;*/
    padding: 16px 16px 40px;
    border-radius: 20px;  
}

/* QR Code Image */
img {
    /*border: 3px solid green;*/
    /*width: 100%;*/
    width: 288px; 
    /*height: 288px; */
    height: auto;
    border-radius: 10px; 
    /*margin-bottom: auto;*/
}

/* H1 Heading */
.card h1{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    /*margin: 16px 0 12px;*/
    /*margin: 16px 16px 16px 16px;*/
    max-width: 288px;
    /*margin-top: 24px;
    margin-bottom: 16px;*/
    margin: 24px 0 16px;
}

/* Paragraph */
.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  /*margin: 0 10px 16px;*/
  /*margin: 16px 16px 16px 16px;*/
  /*margin: 0 8px 16px;*/
  max-width: 265px;
  /*margin: 16px auto;*/
  text-align: center;
  margin: 0;
}

/*
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;   
    }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*/


@media (min-width: 768px) {

  .card {
    width: 320px;  
  }

  .card h1 {
    font-size: 22px;
  }

  .card p {
    font-size: 15px;
  } 
}
